<head>
    <style type="text/css">
        body {
            font-size: 14px;
            font-family: sans-serif;
            background-color: ghostwhite;
        }
        .details {
            font-weight: bold;
            font-size: 12;
            text-align: left;
            padding: 15px;
        }
        .message {
            padding: 15px;
            border: 1px dashed lightblue;
        }
    </style>
</head>
<body>
    <div class="details">
        <p>Mittente: <%= @msg["name"] %> (<%= @msg["email"] %>)</p>
    </div>
    <p class="message">
        <%= @msg["message"].html_safe %>
    </p>
</body>
